<div class="content">
    <mb-table-title [title]="'model.organization.list'"></mb-table-title>
    <nz-table>
        <div [formGroup]="formSearchOrg" class="filter-element mt-3">
            <div class="row p-4">
                <div class="col-3">
                    <label>{{ "common.keyword" | translate }}</label>
                    <input type="text" nz-input formControlName="keyword" [placeholder]="'model.organization.enterKeyword' | translate" (keyup.enter)="this.search()" />
                </div>
                <div class="col-3">
                    <label>{{ "model.organization.status" | translate }}</label>
                    <nz-select formControlName="status" nzAllowClear removeOptionTitle nzPlaceHolder="{{ getTranslate('status') }}">
                        <nz-option *ngFor="let temp of organizationStatus " [nzLabel]="temp.label | translate" [nzValue]="temp.value" [nzCustomContent]="true">
                            <div container="body" [animation]="false" [openDelay]="100" [closeDelay]="0" [ngbTooltip]="temp?.label! | translate">
                                {{ temp?.label! | translate }}
                            </div>
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div class="row mt-3 mb-3 text-center">
                <div class="col-12">
                    <button class="me-3" nz-button nzType="default" (click)="clearSearch()">
            {{ "action.reset" | translate }}
          </button>
                    <button nz-button nzType="primary" (click)="search()">
            {{ "common.search" | translate }}
          </button>
                </div>
            </div>
        </div>
    </nz-table>
    <!--end filter element -->
    <!-- create button -->
    <div class="row mt-3">
        <div class="col-12 text-end">
            <mb-button [type]="'primary'" *hasRoles="['organization:create']" [icon]="'plus'" [text]="'action.create'" (click)="create()">
            </mb-button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <nz-table #table [nzData]="organizations" [nzTableLayout]="'auto'" (nzQueryParams)="onQueryParamsChange($event)">
                <thead>
                    <tr>
                        <th nzAlign="center">{{ "model.organization.id" | translate }}</th>
                        <th nzAlign="left" nzColumnKey="code" [nzSortFn]="true">
                            {{ "model.organization.code" | translate }}
                        </th>
                        <th nzAlign="left" nzColumnKey="name" [nzSortFn]="true">
                            {{ "model.organization.name" | translate }}
                        </th>
                        <th nzAlign="left" nzColumnKey="businessCode" [nzSortFn]="true">
                            {{ "model.organization.businessCode" | translate }}
                        </th>
                        <th nzAlign="left">
                            {{ "model.organization.legalRepresentative" | translate }}
                        </th>
                        <th nzAlign="center">
                            {{ "model.organization.status" | translate }}
                        </th>
                        <th nzAlign="center">
                            {{ "action.msg" | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of organizations ; let i = index">
                        <tr>
                            <td nzAlign="center">{{ getIndex(i) }}</td>
                            <td nzAlign="left">{{ item?.code }}</td>
                            <td nzAlign="left">{{ item?.name }}</td>
                            <td nzAlign="left">{{ item?.businessCode }}</td>
                            <td nzAlign="left">{{ item?.legalRepresentative }}</td>
                            <td nzAlign="center">
                                <mb-badge [color]="getColor(item.status!)" [text]="format(item.status, 'status')">
                                </mb-badge>
                            </td>
                            <td nzAlign="center" class="action">
                                <mb-button-action *hasRoles="['organization:update']" [action]="'edit'" className="first" nzTooltipTitle="{{ 'action.update' | translate }}" nzTooltipPlacement="top" nz-tooltip (click)="update(item)">
                                </mb-button-action>
                                <mb-button-action [action]="'delete'" *hasRoles="['organization:delete']" className="last" nzTooltipTitle="{{ 'action.delete' | translate }}" nzTooltipPlacement="top" nz-tooltip (click)="delete(item)">
                                </mb-button-action>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            <mb-pagination [pageIndex]="organizationSearchRequest.pageIndex" [pageSize]="organizationSearchRequest.pageSize" [total]="total" (onChange)="onQuerySearch($event)">
            </mb-pagination>
        </div>
    </div>
</div>

<ng-template #noDataResult>
    <mb-no-data></mb-no-data>
</ng-template>