.groupUser_info {
}
.groupUser_title {
  font-size: 16px;
  font-weight: 500;
  display: flex;
}
.groupUser_block {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(187, 187, 187, 0.4);
  padding: 10px;
}
.groupUser_title_content {
  font-size: 14px;
}
.groupUser_list_member {
}
.groupUser_title {
}
.groupUser_title_content {
}
.groupUser_info_group {
  display: flex;
  align-items: center;
}
.groupUser_info_group_label {
  width: 200px;
}
.groupUser_info_group_content {
  font-size: 14px;
}
