<div>
  <div *nzModalTitle>
    <span>{{ 'common.advancedSearch' | translate }}</span>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- <form [formGroup]="form">

        <div class="row">
          <div class="col-12 text-center" *nzModalFooter>
            <button nz-button nzType="default" (click)="onCancel()">{{ 'action.reset' | translate}}</button>
            <button nz-button nzType="primary" (click)="onSubmit()">{{ 'common.search' | translate}}</button>
          </div>
        </div>
      </form> -->
    </div>
  </div>
</div>